{% extends 'base.html' %}

{% block content %}

<section class="courses">
    <div class="container">
        <!-- Davom eting section -->
        <h2 class="section-title">Davom eting...</h2>
        <div class="cards">
            {% for course in courses %}
            <div class="card">
                <h3>{{course.title}}</h3>
                <p class="code">{{course.description}}</p>
                <a href="#">Kirish ></a>
            </div>
            {% endfor %}
        </div>

        <!-- Tekin kurslar section -->
        <h2 class="section-title">Tekin kurslar</h2>
        <div class="cards">
            <div class="card free">
                <div class="icon green">⚡</div>
                <h3>Beginner+ (Online) <span class="badge">FREE</span></h3>
                <a href="https://space.marsit.uz/course-elements/43/free/0/0/1">Kirish ></a>
            </div>
            <div class="card free">
                <div class="icon green">⚡</div>
                <h3>Rocket MARS <span class="badge">FREE</span></h3>
                <a href="https://space.marsit.uz/course-elements/45/free/0/0/1">Kirish ></a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
