{% extends 'base.html' %}
{% block content %}

<section class="courses-page">
    <h2>Kurslar</h2>

    <!-- Filter Links -->
    <div class="filter-buttons">
        <a href="#" class="filter-btn active" data-category="all">Barchasi</a>
        {% for category in categories %}
        <a href="#" class="filter-btn" data-category="{{category.name}}">{{category.name}}</a>
        {% endfor %}
    </div>

    <!-- Courses Grid -->
    <div class="courses" style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for eduverse in eduverses %}
        <div class="course-card" data-category="{{eduverse.category.name}}">
            <div class="card-img">
                <iframe width="340" height="200"
                    src="https://www.youtube.com/embed/{{ eduverse.video.youtube_id }}"
                    frameborder="0" allowfullscreen>
                </iframe>
        

                <span class="crown">👑</span>
            </div>
            <div class="card-body">
                <h3>{{eduverse.name}}</h3>
                <div class="rating">
                    <span>4.5</span>
                    ⭐⭐⭐⭐☆
                </div>
                <div class="meta">
                    <span>👤 446 o'quvchi</span>
                    <span>🎬 18 video</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}
