{% extends 'base.html' %}

{% block content %}
<section class="companies-page">
    <h2 style="margin-right: 25%;">TOP Kompaniyalar</h2>

    <!-- Banner -->

    <div class="banner-img">
        <img src="https://space.marsit.uz/img/editor-ads.683d53f3.png" alt="banner">
    </div>


    <!-- Companies Grid -->
    <div class="companies">
        <div class="company-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" class="logo">
            <div class="info">
                <h3>Facebook</h3>
                <p>12 ta masala | 0% bajarildi</p>
                <a href="https://space.marsit.uz/mars-code/questions/1">Kirish ></a>
            </div>
            <span class="crown">👑</span>
        </div>

        <div class="company-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" class="logo">
            <div class="info">
                <h3>Google</h3>
                <p>11 ta masala | 0% bajarildi</p>
                <a href="https://space.marsit.uz/mars-code/questions/2">Kirish ></a>
            </div>
            <span class="crown">👑</span>
        </div>

        <div class="company-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logo">
            <div class="info">
                <h3>Netflix</h3>
                <p>10 ta masala | 0% bajarildi</p>
                <a href="https://space.marsit.uz/mars-code/questions/3">Kirish ></a>
            </div>
            <span class="crown">👑</span>
        </div>

        <div class="company-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" class="logo">
            <div class="info">
                <h3>Amazon</h3>
                <p>10 ta masala | 0% bajarildi</p>
                <a href="https://space.marsit.uz/mars-code/questions/4">Kirish ></a>
            </div>
            <span class="crown">👑</span>
        </div>
    </div>
</section>
{% endblock content %}
