{% extends 'base.html' %}

{% block content %}

<!-- Shop Section -->
<section class="shop">
    <div class="shop-header">
      <h2>SPACE SHOP</h2>
      <a href="#" class="history">Xaridlar tarixi</a>
    </div>
  
    <div class="product-grid">
      <!-- Product Card -->
       {% for product in products %}
      <div class="product-card">
        <img src="{{product.photo_url}}" alt="{{product.name}}">
        <h3>{{product.name}}</h3>
        <p class="price">{{product.price | int}}<span>🪙</span></p>
        <p class="stock">5 ta qoldi</p>
        <a href="#" class="buy-btn">Sotib olish</a>
      </div>
      {% endfor %}
  
    </div>
  </section>
  


{% endblock content %}